# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SPLAVE-FERRIS_LEFT

config ZMK_SPLAVE-FERRIS
    default "Splave-Ferris"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLAVE-FERRIS_LEFT || SHIELD_SPLAVE-FERRIS_RIGHT

config ZMK_SPLIT
    default y

endif
